.container {
  display: flex;
  height: 100%;
  width: 100vw;
}

.container .nav-item {
  width: 120px;
}

.container .ant-layout {
  width: 100vw;
  overflow-x: hidden;
}

.ant-layout-sider-children {
  height: 100%;
}

.page__container {
  padding: 20px 30px;
  background-color: #f2f5fa;
}
