.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container_inner {
  display: flex;
  width: 75%;
  flex-direction: column;
}

.amentity {
  display: flex;
  flex-direction: flex-start;
  flex-wrap: wrap;
}

.amentity_card {
  margin-right: 10px !important;
  margin-bottom: 10px !important;
}

.detail-page__container .right-detail__container {
  background-color: #fff;
  border-radius: 20px;
  padding: 40px;
  margin: 20px 40px 20px 0px;
}

.detail-page__container .right-detail__container .property-type__container {
  color: #252c41;
  line-height: 24px;
  font-size: 14px;
}

.detail-page__container .right-detail__container .booking-record__container .ant-card-bordered {
  border: 1px solid #d9d9d9;
}

.detail-page__container .right-detail__container .booking-record__container .ant-card-bordered .ant-card-meta-detail .ant-card-meta-title {
  color: #3a4255;
  font-size: 14px;
}

.detail-page__container .right-detail__container .booking-record__container .ant-card-bordered .ant-card-meta-detail .ant-card-meta-description {
  color: #3a4255;
}

.detail-page__container .right-detail__container .features__container .ant-tag {
  padding: 3px 12px;
  font-size: 14px;
  background-color: #f1f6ff;
  color: #252c41;
}
